<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="container">
      <h2>Rename your file to new name</h2>
      <div class="user-input-field">
        <form class="flex form" action="/rename" method="post">
          <label for="Oldname">OldName: </label>
          <input
            class="form-title"
            type="text"
            name="oldName"
            value="<%=filename%>"
          />
          <label for="NewName">NewName: </label>
          <input
            class="form-title"
            type="text"
            name="newName"
            placeholder="Enter New File Name Here..."
          />
          <button class="submit edit-submit" type="submit">Submit</button>
        </form>
      </div>
    </div>
  </body>
</html>
