.container{
  border: 2px solid yellow;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.items{
  margin: 20px;
  border: 2px solid red;
  width: 100px;
  height: 100px;
}
.container1{
  border: 2px solid green;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.myitems{
  border: 2px solid rgb(244, 225, 11);
  width: 50px;
  height: 50px;
}