body{
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 2rem;
  text-align: justify;
  letter-spacing: 2px;
  text-transform: uppercase;
  white-space: normal;
  text-overflow: normal;
}


p{
 color: green; 
 background-color: yellow;
 border: 2px solid black;
 width: 300px;
}
.card{
  width: 200px;
  height: 100px;
  background-color: lightblue;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  box-shadow: 2px 2px 5px grey;
}
ul > li{
  color: purple;
  font-size: 1.2rem;
  margin: 5px 0;
}
input[type='email']{
  border: 2px solid blue;
  padding: 5px;
  border-radius: 5px;
}
a:focus{
  background-color: lightgrey;
  color: orange;
}
p::first-line{
  font-weight: bold;
  color: black;
  background-color: grey;
}
li{
  color: orange !important;
}
.container {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  border: 2px solid white;
  padding: 1rem;
  height: 50px;
  width: 80%;
}
.box{
  background-color: lightcoral;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  width: 33%;
}
.mybox{
  box-sizing: border-box;
  background-color: lightgreen;
  width: 200px;
  height: 200px;
  padding: 20px;
  border: 2px solid rgb(19, 163, 235);
  margin: 100px 0 40px 100px;
}
.mybox1{
  background-color: lightpink;
  width: 100px;  
  height: 100px;
  border: 2px solid white;
  margin: auto;
}
.display{
  visibility: hidden;
  width: 200px;
  height: 100px;
  background-color: lightgrey;
  border: 2px solid black;
  margin: 20px auto;
}
.display2{
  width: 200px;
  height: 100px;
  background-color: lightyellow;
  border: 2px solid black;
  margin: 20px auto;
}