<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <div class="container">
      <h1>this is your profile</h1>
      <h3>Your Email : <%=user.email%></h3>
      <h3>Your Name : <%=user.name%></h3>
      <p>Your data:</p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae iure
        quibusdam corporis hic, maxime a animi nesciunt deleniti modi harum qui
        consequuntur pariatur dolorem? Totam eos recusandae aspernatur
        doloremque ipsam.
      </p>
      <a href="/logout">Log-out</a>
    </div>
  </body>
</html>
