<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>this is learning</title>
    <link rel="stylesheet" href="/stylesheets/register.css" />
  </head>
  <body>
    <div class="container">
      <a href="/" class="p-page">Previous-Page</a>
      <h1>Register</h1>
      <div class="form">
        <form action="/register" method="post">
          <label for="name">Name: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
          <input
            type="text"
            name="name"
            placeholder="Enter Your Name here..."
          />
          <br />
          <label for="email">email: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
          <input type="email" placeholder="Enter Your Email" name="email" />
          <br />
          <label for="password">password :</label>
          <input
            type="password"
            placeholder="Enter Your Email"
            name="password"
          />
          <br />
          <button class="subbtn" type="submit">Submit</button>
        </form>
      </div>
    </div>
  </body>
</html>
