*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.hidden{
  display: none;
}
.flex{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.user-input-field{
  width: 50%;
  margin: 20px;
  transform: translateX(50%);
}
.form{
  gap: 20px;
}
.form-title{
  padding: 10px 5px ;
}
textarea{
  resize: none;
  min-height: 100px;
  padding: 10px 5px;
}
.notes-cards{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  margin: 50px 30px;
}
.card{
  min-width: 350px;
  border: 2px solid yellow;
  margin: 5px 10px;
  padding: 5px;
}
a{
  font-weight: 700;
}
.submit{
  background-color: rgb(69, 153, 226);
  width: 100px;
  height: 40px;
  margin-left: 300px;
}