*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: skyblue;
}
a{
  text-decoration: none;
  background-color: red;
  color: #fff;
  border: 2px solid;
  padding: 20px 30px;
}
a:hover{
  background-color: skyblue;
  border-radius: 5px;
}
button{
  background-color: skyblue;
  color: #fff;
}
.container{
  width: 100vw;
  height: 100vh;
  border: 2px solid;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
}