*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  background-color: skyblue;
}
button{
  background-color: skyblue;
  color: #fff;
}
.container{
  width: 100vw;
  height: 100vh;
  border: 2px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1{
  position: absolute;
  top: 9%;
  left: 45.5%;
  background-color: gray;
  padding: 10px 15px;
}
.form{
  border: 2px solid;
  width: 35vw;
  height: 60vh;
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: rgb(255, 0, 0);
}
input{
  margin: 25px;
  padding: 10px;
}
.subbtn{
  background-color: skyblue;
  color: white;
  padding: 10px 15px;
  border: none;
 position: relative;
 left: 50%;
}
.p-page{
  position: absolute;
  left: 0;
  top: 10%;
  margin-left: 20px;
  border-radius: 4px;
  background-color: skyblue !important;
  padding: 20px 30px;
  border: solid;
  color: #fff  !important;
}