*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  background-color: skyblue;
}
button{
  background-color: skyblue;
  color: #fff;
}
.container{
  width: 100vw;
  height: 100vh;
  border: 2px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form{
  border: 2px solid;
  width: 35vw;
  height: 60vh;
  display: flex;
  justify-content: center;
  padding: 20px;
}
input{
  margin: 25px;
  padding: 10px;
}
.subbtn{
  background-color: skyblue;
  color: white;
  padding: 10px 15px;
  border: none;
 position: relative;
 left: 50%;
}